.pd {
	margin-top: 2rem;
}
.hero {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
	font-size: 1.5rem;
}
.hero-content {
	text-align: center;
}
.btn-buy {
	background-color: white;
	color: #6200ea;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
}
.btn-buy:hover {
	background-color: #f0f0f0;
}
.container {
	padding: 2rem;
}
.products-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
}
.product {
	background-color: #6200ea;
	padding: 1rem;
	border-radius: 5px;
	color: white;
	mix-height: 600px;
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: snow;
	color: rgb(0, 0, 0);
	text-align: center;
}
.product .btn-buy {
	background-color: #6200ea;
	color: white;
}
.product-image {
	width: 100%;
	border-radius: 5px;
}
.price {
	font-size: 1.5rem;
	font-weight: bold;
}

.team-members {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}
.team-member {
	text-align: center;
}
.team-member img {
	width: 100px;
	border-radius: 50%;
}
.contact-form {
	display: grid;
	gap: 1rem;
}
.contact-form label {
	display: flex;
	gap: 1rem;
}
.contact-form input,
.contact-form textarea {
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #6200ea;
}
.btn-submit {
	background-color: #6200ea;
	color: white;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn-submit:hover {
	background-color: #3700b3;
}
@media (max-width: 768px) {
	* {
		text-align: center;
	}
	.hero {
		font-size: 1rem;
	}
	.hero-content {
		padding: 0 2rem;
	}
	.btn-buy {
		padding: 0.5rem 1rem;
	}
	.container {
		padding: 1rem;
	}
	.products-list {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
	.product {
		height: auto;
		width: 280px;
	}
	.contact-form {
		padding: 1rem;
	}
}

* {
	scroll-behavior: smooth;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	color: white;
}
.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.navbar-links {
	display: flex;
	gap: 1rem;
}
.navbar-links li {
	list-style: none;
}
.navbar-links a {
	color: white;
	text-decoration: none;
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
	}
	.navbar-links {
		margin-top: 1rem;
		flex-wrap: wrap;
	}
}

.container {
	padding: 2rem;
}
.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
.product {
	background-color: #6200ea;
	padding: 1rem;
	border-radius: 5px;
	color: white;
	height: 100vh;
	max-height: 600px;
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: snow;
	color: rgb(0, 0, 0);
	text-align: center;
}
.product .btn-buy {
	background-color: #6200ea;
	color: white;
}
.product-image {
	width: 100%;
	border-radius: 5px;
	max-height: 300px;
}
.searchComponent {
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #6200ea;
	background-color: #f0f0f0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
}
.price {
	font-size: 1.5rem;
	font-weight: bold;
}
@media (max-width: 768px) {
	.container {
		padding: 1rem;
	}
	.products-list {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
	.product {
		height: auto;
		width: 280px;
	}
}
.btn-buy {
	background-color: white;
	color: #6200ea;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
}
.top-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 424px) {
	.top-group {
		flex-direction: column;
	}
}
