body {
	margin: 0;
	font-family: sans-serif;
	background-color: #fafafa;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 10px;
}

.navbar-brand {
	font-weight: bold;
	margin-right: auto;
	margin-left: 15px;
	font-size: 2.5rem;
	text-decoration: none;
}

.navbar-links a {
	text-decoration: none;
	font-size: 2.5rem;
}

.container {
	display: flex;
	justify-content: space-between;
}

/* Revert Container Background Modification */
/* 
.container {
    background-color: rgba(255, 255, 255, 0.9); 
}
*/

.left-section,
.center-section,
.right-section {
	flex: 1;
	padding: 10px;
}

.left-section {
	background: none;
	height: 100vh;
}

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section,
    .center-section,
    .right-section {
        width: 100%;
        padding: 0.5rem;
    }
    
    .left-section {
        height: auto;
        min-height: fit-content;
    }

    body {
        height: auto;
        min-height: 100%;
    }
}
